*{ margin:0; 
    /* box-sizing:border-box; */
    /* background-color: rgb(193, 175, 151) */
    background-color: rgb(227, 228, 224);
    font-family: monospace;
}
h1,h2{
    text-align:center;
    color:rgb(45, 43, 43);
    padding-top:5px;
}
h2{
    padding-top:30px;
    padding-bottom:60px;
}
p{
    font-size : large  ; 
    padding-bottom: 15px;
}

.bowie-body{
    font:16px/1.3 sans-serif;
    /* background-color: tan; */
}

.bowie-container{ 
    /* width:1200px; */
    margin:auto;
}
.bowie-header{
    /* background:#faa; */
    padding:10px;
}
.bowie-nav{
    /* background:#333; */
    padding:10px;
    /* color:#fff; */
}
.bowie-nav ul{
    list-style:none;
    padding:0;
    text-align: center
}
.bowie-nav ul li{
    /* float:left; */
    margin-right:10px;
}
.bowie-nav ul li a{
    color:inherit;
    display:block;
    padding:8px 12px;
}
/* .bowie-main{
    background:#afa;
} */
.bowie-footer{
    /* background:#aaf; */
    padding:10px;
}
.bowie-section{
    /* width: 75%; */
    /* float:left; */
    padding:10px;
    /* background:#ccc; */
}

.bowie-aside{
    width: 25%;
    float:left;
    padding:10px;
    /* background:#afa; */
}

.bowie-photo { 
    border-radius: 10%;
    width: 300px;
    padding:5px;
  }

.box {
    display: flex;
    flex-wrap: wrap;
}
.box>* {
    flex: 1 1 160px;
}

